<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sang.mapper.OrderFlowMapper">
    <!--查询收模列表-->
    <!--<resultMap type="org.sang.bean.Order" id="getOrdersMap">-->
    <!--<id column="id" property="id"/>-->
    <!--<result column="orderName" property="orderName"/>-->
    <!--<result column="qrCode" property="qrCode"/>-->
    <!--<result column="projectId" property="projectId"/>-->
    <!--<result column="clientCompanyName" property="clientCompanyName"/>-->
    <!--<result column="technologyId" property="technologyId"/>-->
    <!--<result column="managerId" property="managerId"/>-->
    <!--<result column="managerName" property="managerName"/>-->
    <!--<result column="expected" property="expected"/>-->
    <!--<result column="urgency" property="urgency"/>-->
    <!--<result column="hasRemark" property="hasRemark"/>-->
    <!--<result column="machiningType" property="machiningType"/>-->
    <!--<result column="realityArea" property="realityArea"/>-->

    <!--<result column="stayArea" property="stayArea"/>-->
    <!--<result column="alreadyArea" property="alreadyArea"/>-->
    <!--<result column="perfectArea" property="perfectArea"/>-->
    <!--<result column="appliqueArea" property="appliqueArea"/>-->
    <!--<result column="ygb" property="ygb"/>-->
    <!--<result column="picUrls" property="picUrls"/>-->
    <!--<result column="finishTime" property="finishTime"/>-->
    <!--<result column="techId" property="techId"/>-->
    <!--<result column="yaoJian" property="yaoJian"/>-->


    <!--<result column="addUserId" property="addUserId"/>-->
    <!--<result column="addUserName" property="addUserName"/>-->
    <!--<result column="status" property="status"/>-->
    <!--<result column="remark" property="remark"/>-->
    <!--<result column="isDeleted" property="isDeleted"/>-->
    <!--<result column="updateTime" property="updateTime"/>-->
    <!--<result column="createTime" property="createTime"/>-->
    <!--</resultMap>-->


    <insert id="addOrderFlow" useGeneratedKeys="true" keyProperty="id" parameterType="org.sang.bean.OrderFlow">
        INSERT INTO work_order_flow set orderId=#{orderId},flowJson=#{flowJson},
        addUserId=#{addUserId},addUserName=#{addUserName},remark=#{remark},status=0,updateTime=now(),createTime=now(),isDeleted=FALSE
    </insert>


    <select id="getByOrderId" resultType="org.sang.bean.OrderFlow">
        SELECT * FROM work_order_flow WHERE isDeleted=FALSE AND orderId=#{orderId}
    </select>

    <update id="updateOrderFlow">
        update work_order_flow
        <set>
            <if test="orderFlow.flowJson != null">
                flowJson = #{orderFlow.flowJson},
            </if>
        </set>
        where id = #{orderFlow.id}
    </update>

    <delete id="delByOrderId" parameterType="Long">
        DELETE FROM work_order_flow where orderId=#{orderId}
    </delete>


</mapper>