<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sang.mapper.ProjectMapper">


    <resultMap type="org.sang.bean.Project" id="getProjectListProject">
        <id column="id" property="id"/>
        <result column="projectName" property="projectName"/>
        <result column="carId" property="carId"/>
        <result column="unitId" property="unitId"/>
        <result column="cilentCompanyName" property="cilentCompanyName"/>
        <result column="addUserId" property="addUserId"/>
        <result column="addUserName" property="addUserName"/>
        <result column="finishTime" property="finishTime"/>
        <result column="status" property="status"/>
        <result column="remark" property="remark"/>
        <result column="isDeleted" property="isDeleted"/>
        <result column="updateTime" property="updateTime"/>
        <result column="createTime" property="createTime"/>
        <result column="yuBaoJiaId" property="yuBaoJiaId"/>
        <result column="yuBaoJiaStatus" property="yuBaoJiaStatus"/>
        <result column="shangWuId" property="shangWuId"/>
        <result column="shangWuStatus" property="shangWuStatus"/>
        <result column="busStatus" property="busStatus"/>
        <result column="orderNums" property="orderNums"/>
        <result column="orderSchedule" property="orderSchedule"/>
        <association property="car" javaType="org.sang.bean.Car" column="carId"
                     select="org.sang.mapper.CarMapper.getCarById">
        </association>
        <association property="processUnit" javaType="org.sang.bean.ProcessUnit" column="unitId"
                     select="org.sang.mapper.ProcessUnitMapper.getById">
        </association>
    </resultMap>
    <!--查询项目列表-->
    <resultMap type="org.sang.bean.responseEntity.ProjectListResp" id="getProjectListMap">
        <id column="id" property="id"/>
        <result column="projectName" property="projectName"/>
        <result column="carId" property="carId"/>
        <result column="unitId" property="unitId"/>
        <result column="cilentCompanyName" property="cilentCompanyName"/>
        <result column="addUserId" property="addUserId"/>
        <result column="addUserName" property="addUserName"/>
        <result column="finishTime" property="finishTime"/>
        <result column="status" property="status"/>
        <result column="remark" property="remark"/>
        <result column="isDeleted" property="isDeleted"/>
        <result column="updateTime" property="updateTime"/>
        <result column="createTime" property="createTime"/>
        <result column="yuBaoJiaId" property="yuBaoJiaId"/>
        <result column="yuBaoJiaStatus" property="yuBaoJiaStatus"/>
        <result column="shangWuId" property="shangWuId"/>
        <result column="shangWuStatus" property="shangWuStatus"/>
        <result column="busStatus" property="busStatus"/>
        <result column="orderNums" property="orderNums"/>
        <result column="orderSchedule" property="orderSchedule"/>
        <association property="car" javaType="org.sang.bean.Car" column="carId"
                     select="org.sang.mapper.CarMapper.getCarById">
        </association>
        <association property="processUnit" javaType="org.sang.bean.ProcessUnit" column="unitId"
                     select="org.sang.mapper.ProcessUnitMapper.getById">
        </association>
    </resultMap>



    <resultMap type="org.sang.bean.responseEntity.ProjectListResp" id="getProjectListMap1">
        <id column="id" property="id"/>
        <result column="projectName" property="projectName"/>
        <result column="carId" property="carId"/>
        <result column="unitId" property="unitId"/>
        <result column="cilentCompanyName" property="cilentCompanyName"/>
        <result column="addUserId" property="addUserId"/>
        <result column="addUserName" property="addUserName"/>
        <result column="finishTime" property="finishTime"/>
        <result column="status" property="status"/>
        <result column="remark" property="remark"/>
        <result column="busStatus" property="busStatus"/>
        <result column="isDeleted" property="isDeleted"/>
        <result column="updateTime" property="updateTime"/>
        <result column="createTime" property="createTime"/>
        <association property="car" javaType="org.sang.bean.Car" column="carId"
                     select="org.sang.mapper.CarMapper.getCarById">
        </association>
        <association property="processUnit" javaType="org.sang.bean.ProcessUnit" column="unitId"
                     select="org.sang.mapper.ProcessUnitMapper.getById">
        </association>
        <!--<association property="car" javaType="org.sang.bean.Car" column="carId"-->
                     <!--select="org.sang.mapper.CarMapper.getCarById">-->
        <!--</association>-->
        <!--<association property="processUnit" javaType="org.sang.bean.ProcessUnit" column="unitId"-->
                     <!--select="org.sang.mapper.ProcessUnitMapper.getById">-->
        <!--</association>-->

        <association property="yuBaoJia" javaType="org.sang.bean.YuBaoJia" column="id"
                     select="org.sang.mapper.YuBaoJiaMapper.getByProjectId">
        </association>
        <association property="businessBaoJia" javaType="org.sang.bean.responseEntity.BusInfoResp" column="id"
                     select="org.sang.mapper.BusinessBaoJiaMapper.getBusinessBaoJiaByProjectId">
        </association>
        <collection property="orders" ofType="org.sang.bean.Order" column="id"
                    select="org.sang.mapper.OrderMapper.getOrdersByProjectId">
        </collection>

    </resultMap>


    <!--查询项目列表-->
    <resultMap type="org.sang.bean.responseEntity.ProjectListResp" id="getProjectMap">
        <id column="id" property="id"/>
        <result column="carId" property="carId"/>
        <result column="unitId" property="unitId"/>
        <result column="projectName" property="projectName"/>
        <result column="cilentCompanyName" property="cilentCompanyName"/>
        <result column="addUserId" property="addUserId"/>
        <result column="addUserName" property="addUserName"/>
        <association property="car" javaType="org.sang.bean.Car" column="carId"
                     select="org.sang.mapper.CarMapper.getCarById">
        </association>
        <association property="processUnit" javaType="org.sang.bean.ProcessUnit" column="unitId"
                     select="org.sang.mapper.ProcessUnitMapper.getById">
        </association>
    </resultMap>

    <!--获取项目列表-->
    <!--获取项目列表-->
    <select id="getProjectList" resultMap="getProjectListMap1">
        SELECT * FROM work_project WHERE isDeleted=FALSE ORDER BY id DESC
    </select>

    <select id="getProjectById" resultMap="getProjectListProject">
        SELECT * FROM work_project WHERE isDeleted=FALSE AND id=#{projectId}
    </select>

    <select id="getProjectListByUserId" resultMap="getProjectListMap1">
        SELECT * FROM work_project WHERE isDeleted=FALSE AND addUserId=#{addUserId} ORDER BY id DESC
    </select>

    <!--<select id="getProjectList" resultMap="getProjectListMap">-->
    <!--SELECT t1.*, t2.id as 'yuBaoJiaId',t2.audit as yuBaoJiaStatus,t3.id as shangWuId, t3.audit as shangWuStatus FROM-->
    <!--work_project t1, work_yubaojia t2, work_bus_bj t3 WHERE isDeleted=FALSE ORDER BY id-->
    <!--</select>-->

    <!--根据uid获取项目列表-->
    <select id="getByUid" resultType="org.sang.bean.Project">
        SELECT * FROM work_project WHERE isDeleted=FALSE  ORDER BY id DESC
    </select>

    <select id="getByUnitId" resultType="org.sang.bean.Project">
        SELECT * FROM work_project WHERE isDeleted=FALSE  AND unitId=#{unitId} ORDER BY id DESC
    </select>


    <select id="getByCarId" resultType="org.sang.bean.Project">
        SELECT * FROM work_project WHERE isDeleted=FALSE  AND carId=#{carId} ORDER BY id DESC
    </select>

    <select id="getByEngineId" resultType="org.sang.bean.Project">
        SELECT * FROM work_project WHERE isDeleted=FALSE  AND carId IN (SELECT id FROM work_car_type WHERE mainEngineId=#{engineId} ) ORDER BY id DESC
    </select>

    <!--<select id="getFinanceProject" resultType="org.sang.bean.Project">-->
    <!--SELECT * FROM work_project WHERE id in (SELECT projectId FROM work_orders WHERE storageStatus=2 AND isDeleted=FALSE  GROUP BY projectId) AND-->
    <!--financeStatus=0 AND isDeleted=FALSE ORDER BY id-->
    <!--</select>-->

    <select id="getFinanceProject" resultMap="getProjectListMap1">
        SELECT * FROM work_project WHERE  financeStatus &lt;3 AND isDeleted=FALSE ORDER BY id DESC
    </select>

    <select id="getOverceFinanceProject" resultMap="getProjectListMap1">
        SELECT * FROM work_project WHERE  financeStatus=3 AND isDeleted=FALSE ORDER BY id DESC
    </select>

    <select id="getAdded" resultMap="getProjectMap" parameterType="map">
        SELECT t1.* FROM work_project t1
        <where>
            <if test="beginTime != null and beginTime != ''">
                AND createTime &gt;= #{beginTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND createTime &lt;= #{endTime}
            </if>
        </where>
        AND isDeleted=FALSE  ORDER BY id
    </select>


    <insert id="addProject" useGeneratedKeys="true" keyProperty="id" parameterType="org.sang.bean.Project">
        INSERT INTO work_project set projectName=#{projectName},unitId=#{unitId},carId=#{carId},cilentCompanyName=#{cilentCompanyName},
        financeStatus=0,financeBiLi='0',financeJinE='0',financeRemark='',
        kaiPiaoStatus=0,busStatus=0,needKaiPiao=0,kaiPiaoMoney=0,
        addUserId=#{addUserId},addUserName=#{addUserName},status=#{status},remark=#{remark},
        updateTime=now(),createTime=now(),isDeleted=FALSE
    </insert>


    <update id="updateKiPiaoStatus">
        update work_project
        <set>
            kaiPiaoStatus = #{kaiPiaoStatus},
            kaiPiaoId = #{kaiPiaoId},
            needKaiPiao = #{needKaiPiao},
            updateTime = now()
        </set>
        where id = #{projectId}
    </update>

    <update id="updateProjectBus">
        update work_project
        <set>
            busStatus = #{busStatus},
            needKaiPiao = #{needKaiPiao},
            updateTime = now()
        </set>
        where id = #{projectId}
    </update>

    <update id="updateKaiPiao">
        update work_project
        <set>
            needKaiPiao = #{needKaiPiao},
            kaiPiaoStatus = #{kaiPiaoStatus},
            kaiPiaoMoney = #{kaiPiaoMoney},
            updateTime = now()
        </set>
        where id = #{projectId}
    </update>


    <update id="addFuKuan">
        update work_project
        <set>
            financeBiLi = #{fuKuan.financeBiLi},
            financeJinE = #{fuKuan.financeJinE},
            financeStatus = #{fuKuan.financeStatus},
            financeTime = #{fuKuan.financeTime}
        </set>
        where id = #{fuKuan.projectId}
    </update>


</mapper>