<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sang.mapper.SHBaoGaoMapper">
    <!--查询收模列表-->

    <resultMap type="org.sang.bean.SHBaoGao" id="getSHBaoGaoOrder">
        <!--<id column="id" property="id"/>-->
        <!--<result column="orderId" property="orderId"/>-->
        <!--<result column="userId" property="userId"/>-->
        <!--<result column="userName" property="userName"/>-->

        <!--<result column="addUserId" property="addUserId"/>-->
        <!--<result column="addUserName" property="addUserName"/>-->
        <!--<result column="status" property="status"/>-->
        <!--<result column="remark" property="remark"/>-->
        <!--<result column="isDeleted" property="isDeleted"/>-->
        <!--<result column="finishTime" property="finishTime"/>-->
        <!--<result column="updateTime" property="updateTime"/>-->
        <!--<result column="createTime" property="createTime"/>-->

        <!--<association property="order" javaType="org.sang.bean.Order" column="orderId"-->
                     <!--select="org.sang.mapper.OrderMapper.getAfterOrderShouHou">-->
        <!--</association>-->

    </resultMap>


    <insert id="add" useGeneratedKeys="true" keyProperty="id" parameterType="org.sang.bean.SHBaoGao">
        INSERT INTO work_sh_bg set orderId=#{orderId},picUrls=#{picUrls},fileUrl=#{fileUrl},addUserId=#{addUserId},
        addUserName=#{addUserName},status=0,remark=#{remark},updateTime=now(),createTime=now(),isDeleted=FALSE
    </insert>

    <select id="getByOrderId" resultType="org.sang.bean.SHBaoGao">
        SELECT * FROM work_sh_bg WHERE orderId=#{orderId} ORDER BY id DESC

    </select>










</mapper>