<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sang.mapper.TechCardMapper">
    <!--查询收模列表-->
    <resultMap type="org.sang.bean.TechCard" id="getTechMap">
        <id column="id" property="id"/>
        <result column="orderId" property="orderId"/>
        <result column="piWenDaiMa" property="piWenDaiMa"/>
        <result column="nanDuXiShu" property="nanDuXiShu"/>
        <result column="tieHuaBuShu" property="tieHuaBuShu"/>
        <result column="gongYiCanShu" property="gongYiCanShu"/>
        <result column="guangZhe" property="guangZhe"/>
        <result column="chaiLiao" property="chaiLiao"/>
        <result column="tiaoZheng" property="tiaoZheng"/>

        <result column="addUserId" property="addUserId"/>
        <result column="addUserName" property="addUserName"/>
        <result column="status" property="status"/>
        <result column="remark" property="remark"/>
        <result column="isDeleted" property="isDeleted"/>
        <result column="updateTime" property="updateTime"/>
        <result column="createTime" property="createTime"/>
    </resultMap>


    <resultMap type="org.sang.bean.responseEntity.TechAdded" id="getAdded" extends="getTechMap">
        <association property="order" javaType="org.sang.bean.Order" column="orderId"
                     select="org.sang.mapper.OrderMapper.getOrderInfoById">
        </association>
        <association property="wenli" javaType="org.sang.bean.WenLi" column="wenliId"
                     select="org.sang.mapper.WenLiMapper.getById">
        </association>

        <!--<result column="orderName" property="orderName"/>-->
        <!--<result column="urgency" property="urgency"/>-->
        <!--<result column="orderCreateTime" property="orderCreateTime"/>-->
        <!--<result column="orderAddUsrName" property="orderAddUsrName"/>-->
        <!--<result column="wenliName" property="wenliName"/>-->
        <!--<result column="area" property="area"/>-->
        <!--<result column="times" property="times"/>-->

    </resultMap>


    <insert id="addTech" useGeneratedKeys="true" keyProperty="id" parameterType="org.sang.bean.TechCard">
        INSERT INTO work_tech set orderId=#{orderId},wenliId=#{wenliId},piWenDaiMa=#{piWenDaiMa},nanDuXiShu=#{nanDuXiShu},tieHuaBuShu=#{tieHuaBuShu},gongYiCanShu=#{gongYiCanShu},
        guangZhe=#{guangZhe},chaiLiao=#{chaiLiao},tiaoZheng=#{tiaoZheng},addUserId=#{addUserId},addUserName=#{addUserName},status=#{status},updateTime=now(),createTime=now(),isDeleted=FALSE
    </insert>

    <select id="getByOrderId" resultType="org.sang.bean.TechCard">
        SELECT * FROM work_tech WHERE isDeleted=FALSE AND orderId=#{orderId} ORDER BY id
    </select>

    <select id="getByTechId" resultType="org.sang.bean.TechCard">
        SELECT * FROM work_tech WHERE isDeleted=FALSE AND id=#{orderId} ORDER BY id
    </select>

    <select id="getNewByOrderId" resultType="org.sang.bean.TechCard">
        SELECT * FROM work_tech WHERE isDeleted=FALSE AND orderId=#{orderId} ORDER BY id
    </select>


    <!--<select id="getAll" resultMap="getAdded">-->
        <!--SELECT * from work_tech  WHERE isDeleted=FALSE ORDER BY id DESC-->
    <!--</select>-->

    <select id="getAll" resultMap="getAdded">
        SELECT * FROM work_tech
        <where>
            isDeleted=FALSE
            <if test="wenli!= null">
                AND piWenDaiMa = #{wenli}
            </if>
            <if test="orderId!=null">
                AND orderId = #{orderId}
            </if>
        </where>
          ORDER BY id DESC
    </select>


    <update id="updateTechCard">
        update work_tech
        <set>
            <if test="piWenDaiMa != null">
                piWenDaiMa = #{piWenDaiMa},
            </if>
            <if test="nanDuXiShu != null">
                nanDuXiShu = #{nanDuXiShu},
            </if>
            <if test="tieHuaBuShu != null">
                tieHuaBuShu = #{tieHuaBuShu},
            </if>
            <if test="gongYiCanShu != null">
                gongYiCanShu = #{gongYiCanShu},
            </if>
            <if test="guangZhe != null">
                guangZhe = #{guangZhe},
            </if>
            <if test="chaiLiao != null">
                chaiLiao = #{chaiLiao},
            </if>
            <if test="tiaoZheng != null">
                tiaoZheng = #{tiaoZheng},
            </if>
            updateTime = now()
        </set>
        where id = #{id}
    </update>






</mapper>