<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sang.mapper.YuBaoJiaMapper">
    <!--查询收模列表-->
    <!--<resultMap type="org.sang.bean.responseEntity.ShouMoListResp" id="shouMoLisAndMouldInfo">-->
        <!--<id column="id" property="id"/>-->
        <!--<result column="clientCompanyName" property="clientCompanyName"/>-->
        <!--<result column="batch" property="batch"/>-->
        <!--<result column="freightType" property="freightType"/>-->
        <!--<result column="woodenCaseNum" property="woodenCaseNum"/>-->
        <!--<result column="palletNum" property="palletNum"/>-->
        <!--<result column="diaoHuanNum" property="diaoHuanNum"/>-->
        <!--<result column="jianBao" property="jianBao"/>-->
        <!--<result column="carNum" property="carNum"/>-->
        <!--<result column="driverPhone" property="driverPhone"/>-->
        <!--<result column="addUserId" property="addUserId"/>-->
        <!--<result column="addUserName" property="addUserName"/>-->
        <!--<result column="carNum" property="carNum"/>-->
        <!--<result column="driverPhone" property="driverPhone"/>-->
        <!--<result column="status" property="status"/>-->
        <!--<result column="updateTime" property="updateTime"/>-->
        <!--<result column="createTime" property="createTime"/>-->
        <!--&lt;!&ndash; 关联模具信息 &ndash;&gt;-->
        <!--<collection property="mouldInfos" ofType="org.sang.bean.MouldInfo" column="id"-->
                    <!--select="org.sang.mapper.MouldInfoMapper.getMouldInfoByShouMoId">-->
        <!--</collection>-->
    <!--</resultMap>-->

    <insert id="addYuBaoJia" useGeneratedKeys="true" keyProperty="id" parameterType="org.sang.bean.YuBaoJia">
        INSERT INTO work_yubaojia set projectId=#{projectId},auditId=0,auditName=#{auditName},clientCompanyName=#{clientCompanyName},contactPerson=#{contactPerson},contactPhone=#{contactPhone},carType=#{carType},tax=#{tax},
        total=#{total},noTaxTotal=#{noTaxTotal},finalBaoJia=#{finalBaoJia},noTaxfinalBaoJia=#{noTaxfinalBaoJia},expectTime=#{expectTime},submitType=#{submitType},fuJianUrl=#{fuJianUrl},addUserId=#{addUserId},addUserName=#{addUserName},
        status=#{status},remark=#{remark},isDeleted=FALSE,immutable=FALSE,updateTime=now(),createTime=now()
    </insert>

    <select id="getYuBaoJiaList" resultType="org.sang.bean.YuBaoJia">
        SELECT * FROM work_yubaojia WHERE isDeleted=FALSE AND addUserId=#{addUserId} ORDER BY id DESC
    </select>

    <select id="getByProjectId" resultMap="yuInfoResp">
        SELECT * FROM work_yubaojia WHERE isDeleted=FALSE AND projectId=#{projectId}
    </select>

    <select id="getAuditYuBaoJiaList" resultType="org.sang.bean.YuBaoJia">
        SELECT * FROM work_yubaojia WHERE isDeleted=FALSE AND audit=#{audit} ORDER BY id DESC
    </select>



    <resultMap type="org.sang.bean.responseEntity.YuBaoJiaInfoResp" id="yuInfoResp">
        <id column="id" property="id"/>
        <result column="projectId" property="projectId"/>
        <result column="auditId" property="auditId"/>
        <result column="auditName" property="auditName"/>
        <result column="clientCompanyName" property="clientCompanyName"/>
        <result column="contactPerson" property="contactPerson"/>
        <result column="contactPhone" property="contactPhone"/>
        <result column="carType" property="carType"/>
        <result column="tax" property="tax"/>
        <result column="audit" property="audit"/>
        <result column="total" property="total"/>
        <result column="noTaxTotal" property="noTaxTotal"/>
        <result column="expectTime" property="expectTime"/>
        <result column="submitType" property="submitType"/>
        <result column="fuJianUrl" property="fuJianUrl"/>
        <result column="finalBaoJia" property="finalBaoJia"/>
        <result column="noTaxfinalBaoJia" property="noTaxfinalBaoJia"/>

        <result column="immutable" property="immutable"/>
        <result column="addUserId" property="addUserId"/>
        <result column="addUserName" property="addUserName"/>
        <result column="status" property="status"/>
        <result column="remark" property="remark"/>
        <result column="isDeleted" property="isDeleted"/>
        <result column="updateTime" property="updateTime"/>
        <result column="createTime" property="createTime"/>
        <!-- 关联模具信息 -->
        <collection property="yuProductList" ofType="org.sang.bean.YuProduct" column="id"
                    select="org.sang.mapper.YuProductMapper.getByYuBaoJiaId">
        </collection>
    </resultMap>


    <select id="getById" resultMap="yuInfoResp">
        SELECT * FROM work_yubaojia WHERE isDeleted=FALSE AND id=#{id}
    </select>

    <update id="aginAudit">
    update work_yubaojia
    <set>
        <if test="yuBaoJia.audit != null">
            audit = 0,
        </if>
        <if test="yuBaoJia.clientCompanyName != null">
            clientCompanyName = #{yuBaoJia.clientCompanyName},
        </if>
        <if test="yuBaoJia.contactPerson != null">
            contactPerson = #{yuBaoJia.contactPerson},
        </if>
        <if test="yuBaoJia.contactPhone != null">
            contactPhone = #{yuBaoJia.contactPhone},
        </if>
        <if test="yuBaoJia.carType != null">
            carType = #{yuBaoJia.carType},
        </if>
        <if test="yuBaoJia.tax != null">
            tax = #{yuBaoJia.tax},
        </if>
        <if test="yuBaoJia.total != null">
            total = #{yuBaoJia.total},
        </if>
        <if test="yuBaoJia.noTaxTotal != null">
            noTaxTotal = #{yuBaoJia.noTaxTotal},
        </if>
        <if test="yuBaoJia.fuJianUrl != null">
            fuJianUrl = #{yuBaoJia.fuJianUrl},
        </if>
        updateTime = now()
    </set>
    where id = #{yuBaoJia.id}
</update>


    <update id="auditYu">
        update work_yubaojia
        <set>
            <if test="audit != null">
                audit = #{audit},
            </if>
            <if test="auditId != null">
                auditId = #{auditId},
            </if>
            <if test="auditName != null">
                auditName = #{auditName},
            </if>
            <if test="rejectRemark != null">
                rejectRemark = #{rejectRemark},
            </if>
            updateTime = now()
        </set>
        where id = #{id}
    </update>

    <update id="updateYuBaoJia">
        update work_yubaojia
        <set>
            <if test="total != null">
                total=#{total},
            </if>
            <if test="noTaxTotal != null">
                noTaxTotal=#{noTaxTotal},
            </if>
            updateTime = now()
        </set>
        where id = #{yuBaoJiaId}
    </update>


    <update id="updateFinalBaoJia">
        update work_yubaojia
        <set>
            <if test="finalBaoJia != null">
                finalBaoJia=#{finalBaoJia},
            </if>
            <if test="noTaxfinalBaoJia != null">
                noTaxfinalBaoJia=#{noTaxfinalBaoJia},
            </if>
            updateTime = now()
        </set>
        where id = #{yuBaoJiaId}
    </update>




</mapper>